<uib-tabset active="active">
  <uib-tab index="0" heading="Por Consultor">
    
    <nz-periodo periodo="periodo"></nz-periodo>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Seleccionar consultorores</h3>
      </div>
      <div class="panel-body">
        <nz-select-multi select-multi="selectMulti"></nz-select-multi>
      </div>
      <div class="panel-footer">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-primary" ng-click="relatarioAction()">
            Relatario <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-primary" ng-click="graficoAction()">
            Grafico <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-primary" ng-click="pizzaAction()">
            Pizza <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-show="panelControl.relatario">
      <div class="panel-heading">
        <h3 class="panel-title">Relatario</h3>
      </div>
      <div class="panel-body">
        <div ng-show="!relatario.desempenos.length" style="text-align: center;">No se obtuvieron resultados.</div>
        <uib-tabset active="active"  ng-show="relatario.desempenos.length">
          <uib-tab index="$index" ng-repeat="consultor in relatario.desempenos" heading="{{consultor.name}}" disable="consultor.disabled">
             <uib-tabset active="active" style="margin-top: 5px">
                <uib-tab index="$index" ng-repeat="year in consultor.years" heading="{{year.name}}" disable="year.disabled">
                  <table class="table table-bordered" style="margin-top: 20px">
                    <thead>
                      <th>Periodo</th>
                      <th>Receita Liquida</th>
                      <th>Custo Fixo</th>
                      <th>Comissão</th>
                      <th>Lucro</th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="month in year.months | orderBy:'name'">
                        <td>{{month.periodo}}</td>
                        <td>{{month.sum_receita_liquida}}</td>
                        <td>{{month.sum_custo_fixo}}</td>
                        <td>{{month.sum_comissao}}</td>
                        <td>{{month.sum_lucro}}</td>
                      </tr>
                      <tr style="color: white; background: #213656">
                        <td>Saldo</td>
                        <td>{{year.sum_receita_liquida}}</td>
                        <td>{{year.sum_custo_fixo}}</td>
                        <td>{{year.sum_comissao}}</td>
                        <td>{{year.sum_lucro}}</td>
                      </tr>
                    </tbody>
                  </table>
                </uib-tab>
            </uib-tabset>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    
    <div class="panel panel-default" ng-show="panelControl.grafico">
      <div class="panel-heading">
        <h3 class="panel-title" style="display: inline-block; margin-top: 14px">Grafico</h3>
        <div style="display: inline-block; float: right;">
           <select
            class="form-control"
            ng-change="graficoControl.onChangeGrafico()"
            ng-options="option.name for option in graficoControl.select track by option.id"
            ng-model="graficoControl.selected"></select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
          <div ng-show="!graficoControl.grafico.data.length" style="text-align: center;">No se obtuvieron resultados.</div>
          <div class="col-xs-8 col-xs-offset-2"  ng-show="graficoControl.grafico.data.length">
            <canvas id="bar" class="chart chart-bar"
              chart-options="graficoControl.options"
              chart-data="graficoControl.grafico.data" 
              chart-series="graficoControl.grafico.labels"
              chart-labels="graficoControl.grafico.seriesName">
            </canvas>
            <div style="text-align: center;">
              <span style="background: red; color: red; font-size: .7em">00</span>
              <span>Custo Fixo Promedio:</span>
              <span>{{graficoControl.options.lineAt}}</span>
            </div>
          </div>
      </div>
    </div>

    <div class="panel panel-default" ng-show="panelControl.pizza">
      <div class="panel-heading">
        <h3 class="panel-title" style="display: inline-block; margin-top: 14px">Pizza</h3>
        <div style="display: inline-block; float: right;">
           <select
            class="form-control"
            ng-change="pizza.onChangeYear()"
            ng-options="option for option in pizza.years.all track by $index"
            ng-model="pizza.years.selected"></select>
        </div>
        <div style="display: inline-block; float: right;">
           <select
            class="form-control"
            ng-change="pizza.onChangeMonth()"
            ng-options="option.value for option in pizza.months.all track by option.id"
            ng-model="pizza.months.selected"></select>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div ng-show="!pizza.graficoMonth.length" style="text-align: center;">No se obtuvieron resultados.</div>
        <div class="col-xs-6 col-xs-offset-3" ng-show="pizza.graficoMonth.length">
          <canvas 
            class="chart chart-pie"
            chart-data="pizza.graficoMonth" 
            chart-options="pizza.options"
            chart-labels="pizza.grafico.labels">
          </canvas> 
        </div>
      </div>
    </div>

  </uib-tab>
</uib-tabset>