<style>
  label {
    font-size: .8em;
    color: #272727;
    font-weight: normal;
  }
</style>
<nz-periodo periodo="presenter.periodo"></nz-periodo>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Seleccionar Consultor</h3>
  </div>
  <div class="panel-body">
  	<div class="row">
  		<div class="col-xs-3">
        <label>Selecciona Consultor Type:</label>
  			<select
  					ng-change="presenter.onChangeType()"
            class="form-control"
            ng-options="option.name for option in presenter.consultoresTypes track by option.id"
            ng-model="presenter.consultoreTypeSelected"></select>
  		</div>
  		<nz-select-multi select-multi="presenter.selectMulti" class="col-xs-9"></nz-select-multi>
  	</div>
  </div>
  <div class="panel-footer">
    <button class="btn btn-primary" ng-click="consultarAction()">
      Consultar <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div  ng-show="!presenter.grupo.length" style="text-align: center;">No se obtuvieron resultados.</div>
<div class="panel panel-default" ng-show="presenter.grupo.length">
  <div class="panel-heading">
    <h3 class="panel-title">Resultados</h3>
  </div>
  <div class="panel-body">
  	<uib-tabset active="active">
	    <uib-tab index="$index + 1" ng-repeat="consultor in presenter.grupo" heading="{{consultor.name}}" disable="consultor.disabled">
	     	<uib-tabset active="active" style="margin-top: 10px">
          <uib-tab index="$index + 1" ng-repeat="cliente in consultor.clientes" heading="{{cliente.name}}" disable="cliente.disabled">
            <table class="table table-bordered">
              <thead>
                <th>Sistema Web</th>
                <th>OS</th>
                <th>NF</th>
                <th>Emissão</th>
                <th>Total</th>
                <th>Líquido</th>
                <th>Comissão</th>
              </thead>
              <tbody>
                <tr ng-repeat="fatura in cliente.faturas track by $index">
                  <td>{{fatura.sistema_no_sistema}}</td>
                  <td>{{fatura.servicio_consultor_ds_os}}</td>
                  <td>{{fatura.num_nf}}</td>
                  <td>{{fatura.data_emissao}}</td>
                  <td>{{fatura.valor}}</td>
                  <td>{{fatura.receita_liquida}}</td>
                  <td>{{fatura.comissao}}</td>
                </tr>
                   <tr style="background: #213656; color: white">
                      <td>Total</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{cliente.sum_valor}}</td>
                      <td>{{cliente.sum_receita_liquida}}</td>
                      <td>{{cliente.sum_comissao}}</td>
                   </tr>
              </tbody>
            </table>
          </uib-tab>
        </uib-tabset>
	    </uib-tab>
	  </uib-tabset>
  </div>
</div>